:root{
    --ratio: 0.618;
    --width: 90vw;
    --height: calc(var(--width) * var(--ratio));
    --ratio-1: calc(var(--width) * pow(var(--ratio), 1));
    --ratio-2: calc(var(--width) * pow(var(--ratio), 2));
    --ratio-3: calc(var(--width) * pow(var(--ratio), 3));
    --ratio-4: calc(var(--width) * pow(var(--ratio), 4));
    --ratio-5: calc(var(--width) * pow(var(--ratio), 5));
    --ratio-6: calc(var(--width) * pow(var(--ratio), 6));
    --ratio-7: calc(var(--width) * pow(var(--ratio), 7));
    --ratio-8: calc(var(--width) * pow(var(--ratio), 8));
    --ratio-9: calc(var(--width) * pow(var(--ratio), 9));
    --ratio-10: calc(var(--width) * pow(var(--ratio), 10));
    --ratio-11: calc(var(--width) * pow(var(--ratio), 11));
    --color-a: #50514f;
    --color-b: #f25f5c;
    --color-c: #ffe065;
    --color-d: #237ba1;
    --color-e: #70c1b3;
  }

  *{
    box-sizing: border-box;
  }
  

.spiral{
    /* border: 3px solid black; */
    z-index: 10;
    position:absolute;
    border-top: 2px solid black;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;

  }
  

  p{
    font-family: consolas, serif;
    font-size: 50px;
    text-align: right;
    margin: auto;
    border:none;
  }
  
  .layer-1{
    width: var(--width);
    height: var(--height);
    background-color: var(--color-a);
    position:relative;
    z-index:2;
  }
  
  .layer-1 > .spiral{
    width: calc(var(--height)*2);
    height: calc(var(--height)*2);
    border-radius:var(--height);
    top: 0;
    right: 0;
    transform: rotate(45deg);    
  }
  
  
  .layer-2{
    width: var(--ratio-2);
    height: var(--ratio-1);
    background-color: var(--color-b);
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    
  }

  .layer-2 > .spiral{
    width: calc(var(--ratio-2)*2);
    height: calc(var(--ratio-2)*2);
    border-radius:var(--ratio-2);
    top:0;
    left:0;
    transform: rotate(-45deg);    

  }
  
  
  .layer-3{
    width: var(--ratio-2);
    height:var(--ratio-3);
    background-color: var(--color-c);
    position:absolute;
    bottom:0;
    left:0;
    z-index:2;
  }

  .layer-3 > .spiral{
    width: calc(var(--ratio-3)*2);
    height: calc(var(--ratio-3)*2);
    border-radius:var(--ratio-3);
    bottom:0;
    left:0;
    transform:rotate(-135deg);
  }
  
  .layer-4{
    width: var(--ratio-4);
    height:var(--ratio-3);
    background-color: var(--color-d);
    position:absolute;
    bottom:0;
    right:0;
    z-index:2;
  }
  

  .layer-4 > .spiral{
    width: calc(var(--ratio-4)*2);
    height: calc(var(--ratio-4)*2);
    border-radius:var(--ratio-4);
    bottom:0;
    right:0;
    transform:rotate(135deg);
  }
  
  .layer-5{
    width: var(--ratio-4);
    height:var(--ratio-5);
    background-color: var(--color-e);
    position:absolute;
    top:0;
    right:0;
    z-index:2;
  } 

  .layer-5 > .spiral{
    width: calc(var(--ratio-5)*2);
    height: calc(var(--ratio-5)*2);
    border-radius:var(--ratio-5);
    top:0;
    right:0;
    transform:rotate(45deg);
  }
  
  .layer-6{
    width: var(--ratio-6);
    height:var(--ratio-5);
    background-color: var(--color-a);
    position:absolute;
    top:0;
    left:0;
    z-index:2;
  } 

  
  .layer-6 > .spiral{
    width: calc(var(--ratio-6)*2);
    height: calc(var(--ratio-6)*2);
    border-radius:var(--ratio-6);
    top:0;
    left:0;
    transform:rotate(-45deg);
  }
  
  .layer-7{
    width: var(--ratio-6);
    height:var(--ratio-7);
    background-color: var(--color-b);
    position:absolute;
    bottom:0;
    left:0;
    z-index:2;
  } 
  
 .layer-7 > .spiral{
    width: calc(var(--ratio-7)*2);
    height: calc(var(--ratio-7)*2);
    border-radius:var(--ratio-7);
    bottom:0;
    left:0;
    transform:rotate(-135deg);

  } 
  
  .layer-8{
    width: var(--ratio-8);
    height:var(--ratio-7);
    background-color: var(--color-c);
    position:absolute;
    bottom:0;
    right:0;
    z-index:2;

  } 

  .layer-8 > .spiral{
    width: calc(var(--ratio-8)*2);
    height: calc(var(--ratio-8)*2);
    border-radius:var(--ratio-8);
    bottom:0;
    right:0;
    transform:rotate(135deg);

  }
  
  .layer-9{
    width: var(--ratio-8);
    height:var(--ratio-9);
    background-color: var(--color-d);
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    
  } 

 
  
  .layer-10{
    width: var(--ratio-10);
    height:var(--ratio-9);
    background-color: var(--color-e);
    position:absolute;
    bottom:0;
    left:0;
    z-index:2;
  } 
